/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #fffef8;
}
header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	padding: 50px 0;
}
.headerEdition{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	padding: 0;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	column-gap: 20px;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li a:hover {
	color: #B1663C;
}
a {
	text-decoration: none;
}
a:visited {
	color: black;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	display: flex;
	flex-direction: column;
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.gallery {
	margin-top: 60px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
footer{
	background-color: #ffffff;
	border:1px solid #fffef8 ;

}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filter{

	display: flex;
	justify-content: center;
	
}
button{
margin: 0 10px;
padding: 10px;
height: 37px;
border-radius: 60px;
/* border-style: none; */
background-color: #fffef8;
border: 1px solid #1D6154;
font-family: 'Syne';
color: #1D6154;
}
button:hover{
	background-color: #1D6154;
	color: white;
	cursor: pointer;
		
}

button.high, button.connexion{
	background-color: #1D6154;
	color: white;
}
button.low {
	background-color: white;
	color:#1D6154;
}



/*================== PAGE CONNEXION =================*/

section.connexionContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 265px;
}
section.connexionContainer h2{
	padding: 30px ;
}
form.connexion{
	display:flex;
	flex-direction: column;
	align-items: center;
}
form.connexion input{
	display: flex;
	flex-direction: column;
	width: 380px;
	height: 51px;
	margin: 5px 0 40px 0;
	border: none;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.17);
	
}
form.connexion label{
	width: 100%;
}

section.connexionContainer label{
	color: #3D3D3D;
}

button.connexion{
	width: 180px;
	height: 36px;
	margin:40px ;
	text-align: center;
}
section.connexionContainer a{
	text-decoration: underline;
	color: #3D3D3D;
}



/* ===================== Home-page Edit ======================= */


.editionMode{
	width: 100%;
	height:60px ;
	background-color: #000000 ;
	margin-bottom: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}


.iconEdition{
	color: #ffffff;
	margin-right: 5px;
}
.editionTitle{
	color: #ffffff;
	text-decoration: none;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.editionTitle:visited{
	color: #ffffff;
}

.editionMode button{
	border: none;
	color: #000000;
	background-color: #ffffff;
	font-family: 'Work Sans';
	margin: 0 30px;
	padding: 0 20px;
}

.logout{
	cursor: pointer;

}
#icon{

	order: 4;
}

.divModif{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.divModif a{
	cursor: pointer;
}
.divModif a:hover{
	text-decoration: 1px underline #000000;
}

section#introduction figure .divModif{
	width:456px ;
	margin: auto;
	padding-top: 20px;

}

section#introduction article .divModif {
	order: -1;
	margin-bottom: 20px;

}

section#portfolio{
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.titlePortfolio{
	display: flex;
	margin-bottom: 60px;
}
section#portfolio .divModif {
	margin-left: 20px;
}

.iconModif{
	margin-right: 5px;
	color: #000000;
	order: -1;
}

/* ====================== BOITE MODAL ======================*/


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #ffffff;
	margin: auto;
	padding: 20px;
	left: 660px;
	top: 405px;
	width: 630px;
	height: 731px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;

}

.modal-content span{
	box-sizing:border-box;
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row-reverse;
}
/* The Close Button */
.close {

  color: #aaaaaa;
  font-size: 25px;
}

.close:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.containerModal{
	margin: 0 60px;
	display: flex;
	flex-direction: column;
	align-items: center;


}

h3{
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
}
.galeryEdition{
	width: 440px;
	padding: 50px 0 ;
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;
	gap: 15px;

	border-bottom: 1px solid #B3B3B3 ;

}
.galeryEdition figure img{
	width: 76px;
	height: 102px;
	object-fit: contain;
	
}
.galeryEdition figure{
	position: relative;
}

#addWorks{
	width: 237px;
	order: 1;
	margin-top: 30px;
}
#deleteWorks{
	order: 1;
	cursor: pointer;
	color: #D65353 ;
	margin-top: 30px;
}
#deleteWorks:hover{
	text-decoration: 1px underline #D65353;
}

.delIcon{
	position: absolute;
		top: 15px;
		right: 5px;
		cursor: pointer;
}
.delIcon::before{
	padding: 3px 4px;
	background-color:#000000;
	color: #ffffff;
	border-radius: 2px;

	
}
